<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Augularの練習</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="myscript.js"></script>
  <style>
    .done-true {
      color:gray;
      test-decoration:line-through;
    }
  </style>
</head>
<body>
  <h1>TODO list</h1>
  <div ng-controller="mainCtrl">
    <ul>
      <li ng-repeat="task in tasks">
        <input type="checkbox" ng-model="task.done">
        <span class="done-{{task.done}}">{{task.body}}</span>
      </li>
    </ul>
  </div>
</body>
</html>
